{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">แอปสุ่มคำอย่างง่าย</a>
                    </div>
                </li>
                <li>
                    <a href="{% url 'index' %}">วิธีใช้งาน</a>
                </li>
                <li>
                    <a href="{% url 'random_word' 10 %}">สุ่ม 10 คำ ไม่มีลำดับ</a>
                </li>
                <li>
                    <a href="{% url 'random_word' 20 %}">สุ่ม 20 คำ ไม่มีลำดับ</a>
                </li>
                <li>
                    <a href="{% url 'random_word' 10 'has_seq' %}">สุ่ม 10 คำ มีลำดับ</a>
                </li>
                <li>
                    <a href="{% url 'random_word' 20 'has_seq' %}">สุ่ม 20 คำ มีลำดับ</a>
                </li>
                <li>
                    <a href="{% url 'show_major' %}">คำระบบเมเจอร์ 100 คำ</a>
                </li>
                <li>
                    <a href="{% url 'random_num' %}">สุ่ม 10 เลขภายใน 1-100</a>
                </li>
                <li>
                    <a href="{% url 'random_interval' %}">สุ่ม 10 ช่วงภายใน 1-100</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    {% if how_to %}
                    <div class="col-lg-12">
                        <h1>วิธีใช้งาน</h1>
                        <p>นี้คือแอปที่ใช้สำหรับสุ่มคำออกมาเพื่อใช้ในการฝึกจำ  โดยแอปนี้จะสุ่มคำออกมาให้เราฝึก ตามคำสั่งในเมนูที่ปรากฎ</p>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                    {% endif %}

                    {% if words %}
                        <div class="col-lg-6">
                        {% for word in words %}
                            <p>{{word}}</p><br>
                        {% if forloop.counter|divisibleby:10 %}
                        </div>
                        <div class="col-lg-6">
                        {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% if major_words %}
                        <div class="col-lg-1">
                        {% for word in major_words %}
                            <p>{{word}}</p><br>
                        {% if forloop.counter|divisibleby:10 %}
                        </div>
                        <div class="col-lg-1">
                        {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% if list_num %}
                        {% for num in list_num %}
                            <p>{{num}}</p><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "/js/bootstrap.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
